body {
    font-family: 'Roboto', sans-serif;
    margin-top: 5%;
    justify-content: center;
    background-color: rgb(247, 247, 247);
}

a {
    text-decoration: none;
}

p {
    color: rgb(134, 134, 134);
    margin: 0;
}

h3 {
    margin: 0px;
    color: black;
}

.col-1 {
    margin-right: 25px;
}

footer {
    font-size: 12px;
    color: rgb(134, 134, 134);
}

/* Boxes */

.box-a {
    width: 550px;
}

.box-b {
    width: 250px;
}

.box-c {
    width: 53.3px;
}

.img-sq {
    width: 53.3px;
}

.box-a, .box-b, .box-c {
    border-radius: 5px;
    box-shadow: 0px 0px 0px 1px rgb(201, 201, 201);
    padding: 10px;
    background-color: white;
    margin-bottom: 25px; 
    display: flex;
}

.box-a:hover, .box-b:hover, .box-c:hover {
    background-color: rgb(233, 233, 233);
}

/* Search */

input {
    all: unset;
    font: 16px;
    width: 250px;
}

::placeholder {
    color: rgb(134, 134, 134);
}

.picture{
    width: 30px;
    border-radius: 5px;
    margin-right: 10px;
    text-align: center;
    font-size: 20px;
}